.home_first{
  height: 20.2rem;
  /* background-color: rgba(0,253,245,0.8); */
  background-color: rgb(15,173,183);
}


.home_image{
  background: url("/src/assets/images/home_image.png");
  height: 19.25rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}

.home_image_mobile{
  display: none;
}

.home_second{
  text-align: center;
  margin: 0 auto;
  font-weight: 600;
  background-color:  rgb(221, 219, 219);
;
}


.home_second_main{
  font-size: 1.5rem;
  padding-top: 20px;
}

.home_second_sub{
  width: 40%;
  margin: 0 auto;
  font-size: 0.7rem;
  padding-top: 9px;
}

.home_second_button{
  padding-top: 20px;
  padding-bottom: 40px;
}

.home_second_button_subdiv{
  background-color: rgb(15,173,183);
  color: white;
  margin: 0 auto;
  width: 100px;
  padding: 2px;
  border-radius: 10px;

}

.home_third{
  /* border: 2px solid red; */
  text-align: center;
}

.home_third_container{
  width: 85%;
  /* border: 2px solid yellow; */
  margin: 0 auto;
}

.home_third_container_container{
  /* margin: 20px 0; */
}

.home_third_container_text{
  font-size: 1.8rem;
  font-weight: 600;
  color: rgba(0, 107, 104, 1);
  margin: 30px 0;
  margin-bottom: 50px;
}

.home_third_first{
  display: flex;
  height: 200px;
  /* border: 2px solid green; */
}
.home_third_first_image_wrapper{
  width: 30%;
  /* border: 2px solid orange; */
  background: rgb(15,173,183);

}
.home_third_first_image{
  height: 95%;
  background: url("/src/assets/images/air_shipment_desktop.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.home_third_first_content{
  width: 70%;
  /* border: 2px solid orange; */
}

.home_third_first_content_subdiv{
  width: 70%;
  text-align: left;
  padding-left: 40px;
  padding-top: 30px;
}

.home_third_first_content_primary{
  font-weight: 800;
  font-family: cursive;
  padding: .3125rem;
  padding-left: 0px;


}
.home_third_first_content_secondary{
  font-weight: 100;
  font-family: cursive;
}


.second{
  flex-direction: row-reverse;
}

.second_image{
  background: url("/src/assets/images/proper_inspection_desktop.png");
}

.third_image{
  background: url("/src/assets/images/documentation_desktop.png");
}


.home_fourth{
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  background: rgb(15,173,183);
  margin-top: 40px;

}

.home_numbers_one{
  text-align: center;
}

.home_numbers_up{
  font-size: 2rem;
  margin: 20px 0;
  margin-top: 50px;
}
.home_numbers_middle{
  border-bottom: 2px solid black;
  width: 40px;
  margin: 0 auto;
}
.home_numbers_down{
  font-size: 1.125rem;
  margin: 20px 0;
  margin-bottom: 50px;


}

@media screen and  (max-width: 700px){

  .home_first{
    display: none
  }

  .home_second{
  background: url("/src/assets/images/home_image_darkened.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  }

  .home_second_main{
    width: 65%;
    margin: 0 auto;
    padding-top: 2.875rem;
    font-size: 2rem;

  }
  .home_second_sub{
    width: 65%;
    margin: 0 auto;
    font-size: .775rem;

  }

  .home_third_container{
  width: 100%;
  }

  .home_third_first_content_subdiv{
  padding-top: 0px;
  padding-left: 10px;
  width: 100%;




}

.home_third_first_content_primary {
    padding: 0px;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  font-size: 1rem;


}



.home_third_first_content_secondary {
    font-size: .9375rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;

}

.home_third_first_image_wrapper {
    width: 40%;
    height: 10.625rem;
}

.second{
  flex-direction: row;
}


.home_fourth{
  flex-direction: column;
  padding-top: 40px;
}

.home_numbers_up{
  font-size: 2rem;
  margin: 20px 0;
  margin-top: 0px;
}
.home_numbers_middle{
  border-bottom: 2px solid black;
  width: 40px;
  margin: 0 auto;
}
.home_numbers_down{
  font-size: 1.125rem;
  margin: 20px 0;
  margin-bottom: 50px;


}




};
  
